@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&family=PT+Serif:ital@1&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/*------------------------*/
/* Section Header */

.header-section {
  display: flex;
  background-color: #f5c2f2;
  border: 1px solid #381d38;
  height: 100px;
  box-shadow: 0 0 5px grey;
}

.header-section-pages {
  display: flex;
  background-color: #f5c2f2;
  border: 1px solid #381d38;
  height: 100px;
  flex: 1;
  box-shadow: 0 0 5px grey;
}

.header-content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.img-logo {
  width: 80px;
  height: 80px;
  padding-bottom: 8px;
}

.header-title {
  font-family: 'Shadows Into Light', cursive;
  color: #610561;
  font-size: 35px;
}

/* Para que los items del menú desplegable aparezcan a la derecha */
.navbar-nav {
  align-items: end;
}

.navbar-toggler {
  border: 2px solid #610561
}

.navbar-toggler:hover {
  background-color: #f5c2f2;
}

.nav-link {
  padding: 0px;
  text-decoration: none;
  font-weight: 600;
  color: #610561;
  font-style: italic;
}

.nav-link:hover {
  text-decoration: underline;
}


/*-----------------------------*/
/* Section presentacion */

.section-presentacion {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 3px grey;
}

.presentacion-background {
  width: 100%;
  opacity: 0.5;
  box-shadow: 0 0 5px grey;
}

.presentacion-desc {
  width: 90%;
  margin: 40px auto;
}

.presentacion-desc h2 {
  text-align: center;
  margin-top: 15px;
  font-size: 3rem;
  color: #456990;
  margin-bottom: 20px;
  font-family: 'Shadows Into Light';
  font-weight: 700;
}

.presentacion-desc p {
  text-align: center;
  font-size: 1.3rem;
  color: #456990;

}

/*-----------------------------*/
/* Section combos alquiler */

.combos-section {
  width: 90%;
  margin: 3.5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.combos-desc {
  text-align: center;
  color: #456990;
}

.combos-desc h2 {
  font-family: 'Shadows Into Light';
  font-weight: 700;
  font-size: 2.5rem;

}

.combos-desc p {
  font-size: 1.2rem;
}

.combos-cards {
  display: grid;
  grid-template-areas:
    "combo1 combo2 combo3"
    "combo4 combo5 combo6";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
}

.combo-card {
  display: block;
  border: 1.5px solid #381d38;
  border-radius: 10px;
  width: min-content;
  padding: 4px;
  text-align: center;
}


.combo-card img {
  width: 300px;
  border-radius: 10px;
  transition: .4s ease-in-out
}

.combo-card img:hover {
  width: 300px;
  border-radius: 10px;
  transform: scale(1.03);

}

.combo-card h5 {
  margin-top: 1rem;
  font-family: 'Calistoga', cursive;
  color: #456990;
}

.combo-card p {
  font-family: 'Calistoga', cursive;
  color: #456990;
}

/*-----------------------------*/
/* Seccion venta*/

.venta-section {
  width: 90%;
  margin: 3.5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.venta-desc {
  text-align: center;
  color: #456990;
}

.venta-desc h2 {
  font-family: 'Shadows Into Light';
  font-weight: 700;
  font-size: 2.5rem;

}

.venta-desc p {
  font-size: 1.2rem;
}

.venta-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: 1.5s;
  width: 80%;
}

.venta-card {
  flex: 1;
  margin: 1rem;
  font-family: 'Calistoga', cursive;
}

.venta-card a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #456990;
  border: 2px solid #610561;
  border-radius: 10px;
  height: 100%;
}

.venta-card:hover {
  transform: scale(1.05);
}

.venta-card img {
  width: 90%;
  padding: 15px;
  border-radius: 10px;
}

.venta-card p {
  width: 80%;
  text-align: center;
}



/*-----------------------------*/
/* Section Delivery */

.delivery-section {
  margin: 3rem auto
}

.delivery {
  width: 90%;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 60px auto;
}

.delivery-top {
  width: 100%;
  background-color: #456990;
  color: white;
  text-align: center;
  padding: 8px 16px;
  border: 2px solid #8b8585;
  border-radius: 5px;
}

.delivery-bottom {
  display: flex;
  gap: 10px;
}

.delivery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  border: 2px solid #8b8585;
  border-radius: 5px;
  padding: 10px;
}

.delivery-item h5 {
  font-size: medium;
  text-align: center;
}

.delivery-item p {
  font-size: 13px;
  color: #4f4e4e88;
  font-weight: 500;
  text-align: center;
}

/*-----------------------------*/
/* Footer */

footer {
  background-color: #f45b69;
  width: 100%;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #610561;
}

.footer-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacto,
.redes-sociales {
  flex: 1;
  min-width: 200px;
  padding: 10px;
}

.redes-sociales ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.redes-sociales li {
  margin: 0 5px;
}

.redes-sociales img {
  width: 40px;
  height: 40px;
}

/*-----------------------------*/
/* Quienes somos Page */

.qs-container {
  display: flex;
  flex-direction: column;
  margin: 40px auto 20px;
  flex: 1;

}

.qs-title {
  color: #456990;
  margin: 20px auto;
  font-family: 'Shadows Into Light';
  margin-bottom: 20px;
  font-size: 40px;
}

.qs-main-text {
  text-align: justify;
  font-family: 'PT Serif', serif;
  font-size: 20px;
  padding: 15px 25px;
  width: 90%;
  margin: 0 auto;
}

.qs-main-text p {
  padding-bottom: 10px;
}

/*-----------------------------*/
/* Alquiler de juegos Page*/

.section-alq-combos {
  width: 85%;
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.alq-combo {
  width: 100%;
  display: flex;
  gap: 20px;
}

.alq-desc {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 20px;
}

.alq-desc h3,
h1 {
  color: #456990;
  font-family: 'Calistoga', cursive;
}


.alq-desc ul {
  list-style-type: none;
  padding-left: 0;

}


/*-------------------------*/
/* Venta de juegos Page  */

.venta-pag-section {
  width: 85%;
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.venta-pag-bloque {
  display: block;
  text-align: center;
}


.venta-pag-producto,
.venta-pag-producto2 {
  display: flex;
  margin-top: 5rem;
  gap: 2rem;
}

.venta-pag-img {
  width: 100%;
}

.venta-pag-desc {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 20px;
  text-align: initial;
}

.venta-pag-desc h3,
h2 {
  color: #456990;
  font-family: 'Calistoga', cursive;
}

.venta-pag-desc ul {
  list-style-type: none;
  padding-left: 0;
}

/*------------------*/
/* Contacto Page */

.contacto-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 40px auto 20px;
  align-items: end;
}

.contacto-container {
  max-width: 500px;
  margin: 3rem auto;
}

.contacto-container h1 {
  text-align: center;
  color: #456990;
  margin: 20px auto;
  font-family: 'Shadows Into Light';
  font-weight: 700;
}

.contacto-container p {
  margin-bottom: 20px;

}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

button {
  padding: 10px 20px;
  background-color: #456990;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #1c5592;
}

/*-----------------------------*/

@media (max-width: 1200px) {
  .combos-cards {
    display: grid;
    grid-template-areas:
      "combo1 combo2"
      "combo3 combo4"
      "combo5 combo6";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3rem;
  }

  .venta-pag-producto,
  .venta-pag-producto2 {
    width: 90%;
    margin: 4rem auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .venta-pag-producto {
    flex-direction: column-reverse;
  }

  .venta-pag-desc {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: initial;
    padding: 0;
  }

  .vanta-pag-imgContent {
    width: 90%;
  }

}


@media (max-width: 992px) {
  .menu-item {
    margin: 8px 0;
    z-index: 999;
  }

  .venta-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;
    width: 50%;
  }

}

@media (max-width:950px) {
  .alq-combo {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-direction: column-reverse;
  }
}


@media (max-width:850px) {
  .alq-combo {
    width: 90%;
  }
}


@media (max-width: 768px) {
  .delivery-section {
    width: 90%;
    margin: 20px auto;
  }

  .delivery-top {
    margin-bottom: 10px;
  }

  .delivery-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .delivery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 2px solid #8b8585;
    border-radius: 5px;
    padding: 10px;
  }

  .delivery-item h5 {
    font-size: medium;
    text-align: center;
  }

  .delivery-item p {
    font-size: 13px;
    color: #4f4e4e88;
    font-weight: 500;
    text-align: center;
  }

  .combos-cards {
    display: grid;
    grid-template-areas:
      "combo1"
      "combo2"
      "combo3"
      "combo4"
      "combo5"
      "combo6";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 3rem;
  }

  .venta-cards {
    width: 60%;
  }
}


@media (max-width: 600px) {
  .header-title {
    display: none;
  }

  .venta-cards {
    width: 70%;
  }

}

@media (max-width: 490px) {

  .menu-item a {
    font-size: 13px;
  }

  .presentacion-desc p,
  .venta-desc p,
  .combos-desc p {
    font-size: 1rem
  }

  .presentacion-desc h2,
  .combos-desc h2 {
    font-size: 2rem;
  }

  .presentacion-desc h2 {
    margin-top: 40px;
  }
}